@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
    @using Microsoft.AspNetCore.Http
}
@{
	var enquiry = "";
	if (TempData.ContainsKey("SendStatus"))
	{
		enquiry = TempData["SendStatus"] as string;
	}
}

<!-- Modal -->
<div class="modal message fade" id="enquirySuccess" tabindex="-1" role="dialog" aria-labelledby="enquirySuccessModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header border-0 bg-sec">
				<h5 class="modal-title" id="enquirySuccessModalLabel">Welcome To HiSpace </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				@if (enquiry == "1")
				{
					<p class="text-sec font-weight-bold">Your Enquiry Sent Successfull</p>
				}
				else
				{
					<p class="text-pry font-weight-bold">Your enquiry is failed!</p>
					<p>Please try again later</p>
				}
			</div>
		</div>

	</div>
</div>

	<div class="contact nav-padding">
		<div class="bg-light">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a href="@Url.Action("Index", "Website")"> <i class="fas fa-home"></i> </a></li>

							<li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Contact us </span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<section class="space-ptb">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>Contact Us</h2>
						</div>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="contact-address bg-light p-4">
							<div class="d-flex mb-3">
								<div class="contact-address-icon">
									<i class="flaticon-map text-primary font-xlll"></i>
								</div>
								<div class="ml-3">
									<h6>Address</h6>
									<p>Plot No. 267, 2nd Floor, 2nd Main Road, Nehru nagar, Kandanchavadi, Chennai 600096</p>
								</div>
							</div>
							<div class="d-flex mb-3">
								<div class="contact-address-icon">
									<i class="flaticon-email text-primary font-xlll"></i>
								</div>
								<div class="ml-3">
									<h6>Email</h6>
									<p>support@highbrowdiligence.com</p>
								</div>
							</div>
							<div class="d-flex mb-3">
								<div class="contact-address-icon">
									<i class="flaticon-call text-primary font-xlll"></i>
								</div>
								<div class="ml-3">
									<h6>Phone Number</h6>
									<p>+91 98403 52595</p>
								</div>
							</div>
							<div class="mb-3 d-none">
								<div class="contact-address-icon">
									<i class="flaticon-fax text-primary font-xlll"></i>
								</div>
								<div class="ml-3">
									<h6>Landline</h6>
									<p>+91 98403 52595</p>
								</div>
							</div>
							<div class="social-icon-02 d-none">
								<div class="d-flex align-items-center">
									<h6 class="mr-3">Social:</h6>
									<ul class="list-unstyled mb-0 list-inline">
										<li><a href="#"> <i class="fab fa-facebook-f"></i> </a></li>
										<li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
										<li><a href="#"> <i class="fab fa-linkedin"></i> </a></li>
										<li><a href="#"> <i class="fab fa-pinterest"></i> </a></li>
										<li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-7 mt-4 mt-lg-0">
						<div class="contact-form">
							<h4 class="mb-4">Need assistance? Please complete the contact form</h4>
							@*<form>*@
								@using (Html.BeginForm("ContactEnquiry", "Website", FormMethod.Post, new { @class = "", onSubmit = "ContactEnquiryValidate(event)", @id="contact_form" }))
								{
								<div class="form-row">
									<div class="form-group col-md-12">
										<input type="text" class="form-control" id="ce_name" name="ce_name" placeholder="Name*">
										<div class="error" id=""></div>
									</div>
									<div class="form-group col-md-12">
										<input type="email" class="form-control" id="ce_email" name="ce_email" placeholder="Email*">
										<div class="error" id=""></div>
									</div>
									<div class="form-group col-md-12">
										<input type="number" class="form-control" id="ce_phone" name="ce_phone" placeholder="Phone*">
										<div class="error" id=""></div>
									</div>
									<div class="form-group col-md-12">
										<textarea class="form-control" id="ce_text" name="ce_text" rows="4" placeholder="Message*"></textarea>
										<div class="error" id=""></div>
									</div>
									<div class="col-md-12 form-group">
                                         <div id="html_element1"></div>
									<span id="html_element1_error" class="error"></span>
                                    </div>
									<div class="col-md-12">
						<button type="submit" class="btn btn-primary">Send message</button>
					</div>
								</div>
								}
							@*</form>*@
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>


@section Scripts {
	<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer></script>
<script>
	//google-recapcha
		var html_element1;
		 var onloadCallback = function() {
			  html_element1 = grecaptcha.render('html_element1', {
          'sitekey' : '6Lf2bMoZAAAAANA1p_3VsOmb4uONQOJBb3byh9Im'
        });
	};
		//end
</script>
}