@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model HiSpaceListingModels.User
<!--=================================
	 Modal login -->
@*<div class="modal login fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">*@
<div class="modal-content">
	<div class="modal-header border-0">
		<h5 class="modal-title" id="loginModalLabel">HiSpace Login </h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
				@*<form class="form-row mt-4 align-items-center" action="account-profile.html">*@
				@using (Html.BeginForm("Login", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-row md-form", onSubmit = "loginValidate(event)", id = "login-form" }))
				{
					<input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
					<div class="form-group col-sm-12">
						<input class="form-control" id="Email" name="Email" placeholder="Email Id" type="email" value="">
						@*@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Id" })*@
						<label for="input" class="control-label">Email*</label><i class="bar"></i>
						<div class="error" id="error_Email"></div>
					</div>
					<div class="form-group col-sm-12">
						<input class="form-control" id="Password" name="Password" placeholder="password" type="password" value="">
						@*@Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "password" })*@
						<label for="input" class="control-label">Password*</label><i class="bar"></i>
						<div class="error" id="error_Password"></div>
					</div>
					@*<div class="col-md-12 col-sm-12">
							<div class="radio-group">
								<div class="form-radio radio-items radio-item__caption">
									<div class="radio">
										<label>
											<input type="radio" name="UserType" checked="checked" value="1" />
											<i class="helper"></i>
											<span class="radio-caption">HiSpace-User</span>
											<span class="font-11">(Can List you <span class="font-weight-bold">Property, Space, Real-Estate Profession</span>. As a <span class="font-weight-bold">Owner, Operators, People)</span></span>
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="UserType" value="2" />
											<i class="helper"></i>
											<span class="radio-caption">Guest-User</span>
											<span class="font-11">(Can Search <span class="font-weight-bold">Property, Space, Real-Estate Professionl</span> and make enquiry, As a <span class="font-weight-bold">Guest)</span></span>
										</label>
									</div>
								</div>
							</div>
						</div>*@
					//hidden element in login TYPE
					@*<div class="display-none">
						<div class="form-group">
							<input type="text" name="UserType" value="1">
						</div>
					</div>*@
					<div class="col-sm-12 mb-4">
						<a class="modal-link__forgot" data-targeturl="@Url.Action("ForgotPartialView","User")" href="javascript:function() { return false; }" data-dismiss="modal"><span class="">Forgot password?</span></a>
					</div>
					<div class="col-6">
						<button type="submit" class="btn btn-primary btn-block">Login</button>
					</div>
					<div class="col-6 align-self-center">
						<a class="modal-link__signup btn btn-sec btn-block" data-targeturl="@Url.Action("SignupPartialView","User")" href="javascript:function() { return false; }" data-dismiss="modal"><span class="">Signup</span></a>
					</div>

					@*@section Scripts{
						<partial name="_validationScriptsPartial" />
						}*@
					@*</form>*@
				}
			</div>
		</div>
	</div>
</div>
@*</div>
	</div>*@
<!--=================================
  Modal login -->
